{include file="public/header" /}
<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 主页内容中心 <span
        class="c-gray en">&gt;</span> 主页内容管理 <a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form action="{:url('add/index')}" method="get" class="form form-horizontal" id="form-member-add">
	  		<span class="select-box inline">
				<select name="category_id" class="select">
					<option value="0">全部分类</option>
					{volist name="categorychx" id="vo"}
					<option value="{$vo.id}" {if condition="$vo.id eq $category_id" } selected="selected" {/if}>{$vo.name}</option>
                    {/volist}
				</select>
			</span>

            <span class="select-box inline">
				<select name="city_id" class="select">
					<option value="0">全部城市</option>
					{volist name="citychx" id="vo"}
					<option value="{$vo.id}" {if condition="$vo.id eq $city_id" } selected="selected"
                            {/if}>{$vo.name}</option>
                    {/volist}
				</select>
			</span>

            日期范围：
            <input type="text" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="{$start_time}"
                   placeholder="" name=" start_time" style="width:120px;">
            -
            <input type="text" class="input-text" id="countTimeend" onfocus="selecttime(2)" value="{$end_time}"
                   placeholder="" name="end_time" style="width:120px;">

            <input type="text" name="name" id="" placeholder="文章名称" value="{$name}" style="width:250px"
                   class="input-text">
            <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜文章</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			 <a href="javascript:;" onclick="h_add_s('主页内容新增','{:url('home/add')}','')"
                class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 主页内容新增</a>
		</span>
        <span class="r"><strong></strong></span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="40">ID</th>
                <th width="50">昵称</th>
                <th width="50">头像</th>
                <th width="500">图像</th>
                <!--<th width="150">内容</th>-->
                <th width="40">点赞数</th>
                <th width="40">收藏数</th>
                <th width="40">评论数</th>
                <th width="40">浏览量</th>
                <!--<th width="100">用户发布ID</th>-->
                <!--<th width="100">顶级</th>-->
                <!--<th width="100">城市</th>-->
                <!--<th width="100">话题ID</th>-->
                <!--<th width="100">详情地址</th>-->
                <!--<th width="100">详情名称</th>-->
                <!--<th width="100">发布时间</th>-->
                <th width="100">状态</th>
                <th width="100">操作</th>

            </tr>
            </thead>
            <tbody>
            {volist name="add" id="vo"}
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td>{$vo.id}</td>
                <td>{$vo.home_uaer_name}</td>
                <td><img style="height: 40px; width: 40px; border-radius:50%;" src="{$vo.r_image}"/></td>
                <td align="left" valign="middle">
                    <p><font color="black" size="4">{$vo.description}</font></p>


                        <!--<img style="height: 100px; width: 100px; " src="{$v2}"/>-->
                    <p>
                    {volist name="vo.image" id="v2"}
                        <img  style="height: 100px; width: 100px;" src="{$v2}">
                    {/volist}
                    </p>
                    <p>--------------------------------------------------</p>
                    <p>发布时间：{$vo.create_time}</p>
                </td>
                <!--<td>{$vo.description}</td>-->

                <!--label label-default radius-->
                <td><p class="label label-default radius" style="width: auto;height: auto;border-radius:40%;">
                    {$vo.user_praise}</p></td>
                <td><p class="label label-default radius" style="width: auto;height: auto;border-radius:40%;">
                    {$vo.user_collection}</p></td>
                <td><p class="label label-default radius" style="width: auto;height: auto;border-radius:40%;">
                    {$vo.user_comment}</p></td>
                <!--<td>-->
                    <!--<p class="label label-success radius" style="width: auto;height: auto;border-radius:40%;"-->
                       <!--&gt;<a href="javascript:void(0);" onClick="msgbox(1)">{$vo.browse_num}</a></p>-->
                <!--</td>-->
                <td class="text-c listorder"><input size="3" attr-id="{$vo.id}" name="listorder" value="{$vo.browse_num}" /></td>

                <!--<td>{$vo.user_id}</td>-->


                <!--<td>{$vo.category_id}</td>-->
                <!--<td>{$vo.city}</td>-->


                <!--<td>{$vo.topic}</td>-->


                <!--<td>{$vo.address}</td>-->
                <!--<td>{$vo.addressname}</td>-->


                <!--<td>{$vo.create_time}</td>-->
                <td class="td-status"><a href="{:url('add/status',['id'=>$vo.id , 'status'=>$vo.status==1?0:1])}"
                                         title="点击修改状态">{$vo.status|status}</a></td>
                <td class="td-manage">
                    <!-- <a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="获取子栏目"><i class="Hui-iconfont">&#xe631;</i></a>  -->
                    <a title="详情" href="javascript:;"
                       onclick="h_edit('详情','{:url('add/look',['id'=>$vo.id])}','','','270')" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <!-- <a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','change-password.html','10001','600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a>  -->
                    <a title="删除" href="javascript:;"
                       onclick="h_del('{:url('add/delete_add',['id'=>$vo.id , 'status'=>-1])}')" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    {:paginate($add)}
</div>



{include file="public/footer" /}
<script type="text/javascript">
    var SCOPE = {
        'listorder_url' : "{:url('add/listorder')}",
    }
</script>
</body>
</html>